
.hidden {
  display: none;
}

button:hover, select:hover {
  cursor: pointer;
}

input:hover {
  cursor: text;
}

.dashboard-view {
 display:flex;
 flex-direction: column;
} 

.room-to-select {
  display: flex;
  flex-direction: row;
}

.room-info-container {
  display: flex;
  flex-direction: column;
}

.room-to-select:hover {
  color: #0827F5;
  cursor: pointer;
}


